@import "tailwindcss";

:root {
  --color-background: #f1efec;
  --color-foreground: #161819;
}
@theme inline {
  --font-display: var(--font-bosch);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
}

html {
  background-color: var(--color-background);
}

body {
  font-family: var(--font-default), sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }
}

.font-outline {
  -webkit-text-stroke: 1.5px black;
}

@layer base {
  h2,
  .h2 {
    font-size: 6rem;
    line-height: 1.05;
    letter-spacing: -0.06em;
  }

  h3,
  .h3 {
    font-size: 2rem;
    letter-spacing: -0.04em;
    line-height: 1.05;
  }

  p,
  .p {
    font-size: 1rem;
    letter-spacing: -0.02em;
    line-height: 1.4;
  }

  .secondary-text {
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.4;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .h0 {
    position: relative;
    font-family: var(--font-bosch);
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    line-height: 0.7;
    z-index: 20;
    overflow: hidden;
  }

  @media (min-width: 640px) {
    .h0:not(.h0-small) {
      font-size: 9rem;
      letter-spacing: 0.5em;
      margin-right: -0.5em;
    }
  }

  @media (min-width: 1024px) {
    .h0:not(.h0-small) {
      font-size: 11rem;
    }
  }

  @media (min-width: 1536px) {
    .h0:not(.h0-small) {
      font-size: 20rem;
    }
  }

  .hotel-text {
    position: relative;
    z-index: 20;
    line-height: 0.8;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    margin-right: -0.6em;
    font-family: var(--font-bosch);
    white-space: nowrap;
    overflow: hidden;
  }

  @media (min-width: 640px) {
    .hotel-text:not(.hotel-text-small) {
      letter-spacing: 0.8em;
      margin-right: -0.8em;
    }
  }

  @media (min-width: 1536px) {
    .hotel-text:not(.hotel-text-small) {
      font-size: 1.5rem;
    }
  }
}
