@import "tailwindcss";

:root {
  --color-background: #0d0d0d;
  --color-foreground: #f1efec;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --font-sans: var(--font-gotham);
}

body {
  line-height: 1;
  letter-spacing: -0.025em;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }
}

@layer base {
  h1,
  .h1 {
    font-size: 8rem;
    line-height: 0.8;
    font-weight: 300;
    letter-spacing: -0.075em;
  }

  h2,
  .h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05em;
  }
}

@layer components {
  .booking-element-item {
    padding-right: 1.25rem;
    width: max-content;
    font-size: 0.75rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    border-right: 1px solid oklch(0% 0 0 / 10%);

    span {
      white-space: nowrap;
    }

    & span:first-child {
      text-transform: uppercase;
    }
  }
}

#preloader {
  perspective: 2000px;
}

#preloader-stars-container {
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.star {
  will-change: transform, opacity;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.star.preloader-star {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.star.big-star {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 5.5rem;
  }

  h2,
  .h2 {
    font-size: 1.5rem;
  }

  .star {
    width: 1rem;
    height: 1rem;
  }

  .star.big-star {
    width: 1.5rem;
    height: 1.5rem;
  }
}
