@import "tailwindcss";

:root {
  --background: #fefefe;
  --foreground: #161819;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-object-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-object-sans), sans-serif;

  text-transform: uppercase;
  letter-spacing: -0.05em;

  font-size: clamp(0.75rem, 1vw + 0.5rem, 1rem);
  line-height: 110%;
}

@layer base {
  h1,
  h2,
  h3,
  p,
  .h0,
  .h1,
  .h2,
  .h3 {
    letter-spacing: -0.05em;
  }

  h2 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    line-height: 105%;
  }

  h3 {
    font-size: clamp(1.25rem, 3vw + 0.5rem, 2rem);
    line-height: 105%;
  }
}

@layer components {
  .h0 {
    font-family: var(--font-neue-montreal), sans-serif;
    font-weight: 500;
    font-size: clamp(2rem, 10vw + 0.5rem, 909rem);
    line-height: 0.75;
  }

  .h2 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
  }

  .h3 {
    font-size: clamp(1.25rem, 3vw + 0.5rem, 2rem);
  }
}
